
<router-outlet></router-outlet>

<!doctype html>
<html lang="en">
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Game center</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Support</a>
  </nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Game Center</h1>
  <p class="lead">
      Welcome to our game center!!!! Start playing with your friends. 
      In this world you can play different games with people and spectate
      your friends game and chat with other people. ENJOY!!!
  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Gomoku</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Board Games</li>
          <li>Two player with Go Pieces</li>
          <li>Five in a Row</li>
          <li>Black &White Stones</li>
        </ul>
        <a ><button type="button" class="btn btn-lg btn-block btn-primary">Start The Game</button></a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Reversi/Othello</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Two Players</li>
          <li>Black & White side</li>
          <li>The first two moves by 
            each player are in the four central 
            squares of the board</li>
          <li>You must place the piece so that an opponent's piece, 
            or a row of opponent's pieces, is flanked by your pieces.</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Start The Game</button>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Black Jack</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>2+ Players, usually 2-7</li>
            <li> one to eight decks of 52-card decks.</li>
            <li>Aces may be counted as 1 or 11 points, 2 to 9 according to pip
               value, and tens and face cards count as ten points.</li>
            <li>The value of a hand is the sum of the point values of the 
              individual cards. Except, a "blackjack" is the highest hand, 
              consisting of an ace and any 10-point card, and it outranks 
              all other 21-point hands.</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Start The Game</button>
        </div>
      </div>



  </div>



  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2019-03</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
        </ul>
      </div>


    </div>
  </footer>
</div>
</body>
</html>

  

